body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.form-master {
  width: 350px; 
  height: 200px; 
  float: right;
}

.all-items {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.single-item {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #BFBFBF;
  max-width: 305px;

}