body {
    margin: 0;
    padding: 0;
    font-family: helvetica, arial, sans-serif;
}

.form-master {
    width: 350px;
    height: 200px;
    float: right;
}

.bottom {
    font-family: helvetica, arial, sans-serif;
    padding: 0 0 30px 0;
    margin: 0;
    clear: both;
    text-align: center;
}

.quotes img {
    display: inline-block;
    float: left;
    width: 33.3%;
    height: 330px;
}

.title {
    text-align: center;
}

.formz {}

.promise {
    width: 80%;
}

.satisfied {
    width: 350px;
    height: 200px;
    float: left;
}

.cant {
    text-align: center;
    width: 80%;
}

.all-items {
  max-width: 930px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.single-item {
    margin: 10px 0;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #BFBFBF;
    max-width: 305px;
    border-radius: 8px;
    width: 168px;
}

.product-name {
    padding: 0 10px;
    text-align: center;
    line-height: 22px;
    border-bottom: 1px solid #BFBFBF;
}

@media (max-width: 860px) {
  .all-items {
      display: grid;
      grid-template-columns: auto auto auto auto;
  }
}

@media (max-width: 700px) {
    .all-items {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

@media (max-width: 500px) {
    .all-items {
        display: grid;
        grid-template-columns: auto auto;
    }
}